@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #666;
  font-family: "Questrial", sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
}
h1 {
  color: #fff;
  margin: 20px 0;
  letter-spacing: 2px;
}
.video {
  background-color: #000 !important;
  cursor: pointer;
  width: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.controls {
  color: #fff;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
}
.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 25px;
}
.btn:focus {
  outline: none;
}
.btn.play .fa-play {
  color: green;
}
.btn.play .fa-pause {
  color: #fff;
}
.btn.stop i {
  color: red;
}

.timestamp {
  font-weight: bold;
}
@media (max-width: 800px) {
  .controls,
  .video {
    width: 90%;
  }
}
