:root {
  --primary-color: #30336b;
  --secondary-color: #be2edd;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  display: grid;
}
body > * {
  transition: all 0.3s;
}
.main-nav {
  position: absolute;
  width: 200px;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.nav-list {
  border-right: 1px solid #8383837e;
  list-style: none;
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  color: #fff;
}
.nav-list > * {
  border-bottom: 1px solid #8383837e;
}
.nav-list li {
  padding: 20px 20px;
}
.nav-list li a:link,
.nav-list li a:visited {
  padding: 2px 0;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.5s;
}
.nav-list li a:hover,
.nav-list li a:active {
  border-bottom: 1px solid #fff;
}

.user-img {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.user-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.page-header {
  position: relative;
  text-align: center;
  background-color: var(--primary-color);
  color: #fff;
  padding: 30px;
}
.page-header h1 {
  font-size: 40px;
  margin-bottom: 35px;
}
.page-header p {
  font-size: 20px;
  margin-bottom: 20px;
}
.signup-btn {
  font-size: 20px;
}
.btn {
  border: none;
  color: #fff;
  background-color: var(--secondary-color);
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #1e2043cf;
  border-radius: 5px;
  padding: 12px;
  border: none;
  cursor: pointer;
}
.toggle i {
  color: #fff;
  transform: scale(1.7);
}
.about-section {
  width: 800px;
  justify-self: center;
  padding: 40px 0;
}
.about-section-text-cnt {
  margin-bottom: 40px;
}
.about-section-text-cnt h2 {
  margin-bottom: 20px;
}
.about-section-text-cnt p {
  margin-bottom: 15px;
  line-height: 1.6;
}
.about-section-text-cnt ul {
  margin-left: 30px;
  margin-bottom: 20px;
}
.about-section-text-cnt ul li p {
  line-height: 1;
}
.sign-pop-up {
  transition: all 0.8s;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #0000008f;
}
.signup-cnt {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.signup-cnt h3 {
  background-color: var(--primary-color);
  color: #fff;
  padding: 15px;
  margin-bottom: 20px;
}
.signup-form-cnt {
  padding: 20px;
  color: #333;
}
.signup-form-cnt p {
  margin-bottom: 20px;
  font-weight: bold;
}
.form-element {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}
.form-element input {
  font-size: 16px;
  padding: 7px 14px;
}
.signup-cnt .close-signup {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.signup-cnt .close-signup i {
  color: #fff;
  transform: scale(1.5);
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.signup-form-submit {
  font-size: 16px;
}

/* Handle main-nav Hidden case styling */
.hidden-nav .main-nav {
  position: relative;
  grid-row: 1/99;
  opacity: 1;
  visibility: visible;
}
body.hidden-nav {
  display: grid;
  grid-template-columns: 200px 1fr;
}
