@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --submit-color: #3498db;
  --gray: #777;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f9fafb;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  border-radius: 10px;
  width: 400px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.container h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
}
.form__element-cnt {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: start;
}
.form__element-cnt label {
  color: #777;
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 5px;
  cursor: pointer;
}
.form__element-cnt input {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #555;
}

.form__element-cnt input:focus {
  outline: none;
  border: 2px solid #777;
}
.form__element-cnt.failed input {
  border: 2px solid var(--error-color);
}
.form__element-cnt.success input {
  border: 2px solid var(--success-color);
}

.form__element-cnt input::placeholder {
  color: #bcbcbc;
}
.form__element-cnt small {
  color: var(--error-color);
  font-size: 14px;
  font-weight: 500;
  visibility: hidden;
}
.form__element-cnt.failed small {
  visibility: visible;
}
button {
  width: 100%;
  display: block;
  border: none;
  border-radius: 4px;
  background-color: var(--submit-color);
  color: #fff;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 30px;
}
button:hover {
  background-color: #49a0da;
}
